@import "../../../Sass/mixin";
@import "../../../Sass/variables";

.header-container {
  width: 100%;
  height: auto;
  padding-bottom: 5rem;
  background-color: white;
  &-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    // padding: 0.5rem 0rem;
    // background-color: papayawhip;
    &-left {
      width: 57.5%;
      height: auto;
      //   padding: 5rem 0rem;
      //   background-color: lightcyan;
      & > hr {
        margin-top: 60px;
        width: 95%;
        border: 1px solid $blue;
      }
      &-pdata {
        margin-top: 90px;
        margin-left: 130px;
        // background-color: lightcoral;
        & > pre {
          font-family: "SF Mono";
          font-weight: 400;
          font-size: 2.4rem;
          line-height: 29px;
          letter-spacing: 0.075em;
          color: $gray;
        }
        & > h1 {
          font-family: "Calibre";
          font-weight: 600;
          font-size: 6rem;
          color: $blue;
        }
        & > h2 {
          font-family: "Calibre";
          font-weight: 600;
          font-size: 4rem;
          color: $gray;
          opacity: 0.5;
        }
        & > p {
          width: 75%;
          height: auto;
          margin-top: 43px;
          font-family: "Calibre";
          font-style: normal;
          font-weight: 400;
          font-size: 1.3rem;
          line-height: 137.5%;
          letter-spacing: 0.055em;
          color: #616161;
          //   background-color: aqua;
          & > span {
            font-family: "Calibre";
            font-weight: 400;
            font-size: 1.3rem;
            letter-spacing: 0.055em;
            text-decoration-line: underline;
            color: $blue;
            cursor: pointer;
          }
        }
        & > button {
          width: 151px;
          margin-top: 43px;
          padding: 1rem 0rem;
          background: #ffffff;
          border: 1px solid #0000c8;
          border-radius: 2px;
          font-family: "SF Mono";
          font-weight: 400;
          font-size: 1.2rem;
          letter-spacing: 0.01em;
          color: #686868;
          cursor: pointer;
          &:hover {
            background-color: $blue;
            color: white;
          }
        }
      }
      & > img {
        width: 37px;
        height: 43px;
        float: right;
        margin-top: 2.3rem;
        margin-right: 5rem;
        animation-name: infiniteupdown;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        transition: all 0.3s;
      }
      @keyframes infiniteupdown {
        0% {
          transform: translateY(0px);
        }
        50% {
          transform: translateY(-20px);
        }
        100% {
          transform: translateY(0px);
        }
      }
    }
    &-right {
      width: 538px;
      height: 650px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url("../../../assets/headerimg.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      &-menu {
        width: 70%;
        height: auto;
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0rem;
        // background-color: #ffffff;
        & > button {
          width: 32%;
          cursor: pointer;
          font-family: "SF Mono";
          font-style: normal;
          font-weight: 400;
          font-size: 1.5rem;
          letter-spacing: 0.03em;
          color: $lightblack;
          background: none;
          border: none;
          &:hover {
            color: $blue;
            font-size: 1.6rem;
            transition: 0.3s;
          }
        }
      }
    }
  }
}

.about-container {
  width: 100%;
  height: auto;
  padding: 3.5rem 0rem;
  background-color: white;
  &-content {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    &-left {
      width: 20%;
      height: auto;
      // background-color: lightblue;
      & > h1 {
        font-family: "Calibre";
        font-style: normal;
        font-weight: 600;
        font-size: 6rem;
        letter-spacing: 0.03em;
        color: $blue;
      }
    }
    &-right {
      width: 80%;
      height: auto;
      background-color: lightcoral;
      & > hr {
        border: 1px solid $blue;
      }
    }
  }
}
.aboutdata-container {
  width: 100%;
  height: auto;
  padding: 0.5rem 0rem;
  background-color: white;
  &-content {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    padding: 0.5rem 0rem;
    // background-color: lightcoral;
    &-left {
      width: 50%;
      height: auto;
      padding: 0.5rem 1.5rem;
      // background-color: lightcyan;
      & > ul {
        color: $gray;
        margin: 5px;
        //  padding-left: 10px;
        font-family: "Calibre";
        font-style: normal;
        font-weight: 400;
        font-size: 1.3rem;
        // line-height: 137.5%;
        letter-spacing: 0.055em;
        & > li {
          & > span {
            color: $blue;
          }
        }
      }
    }
    &-right {
      width: 50%;
      height: auto;
      // margin: auto;
      display: flex;
      justify-content: right;
      padding: 0.5rem 0rem;
      // background-color: lightgrey;
      & > img {
        width: 360px;
        height: 354px;
        cursor: pointer;
      }
    }
  }
}

.built-container {
  width: 100%;
  height: auto;
  padding: 3.5rem 0rem;
  background-color: white;
  &-content {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    // padding: 0.5rem 0rem;
    // background-color: lemonchiffon;
    &-left {
      width: 45%;
      // background-color: lawngreen;
      & > h1 {
        font-family: "Calibre";
        font-style: normal;
        font-weight: 600;
        font-size: 6rem;
        letter-spacing: 0.03em;
        color: $blue;
      }
    }
    &-right {
      width: 55%;
      // padding: .5rem ;
      // background-color: #616161;
      & > hr {
        width: 100%;
        border: 1px solid $blue;
      }
    }
  }
}
.builtItem-container {
  width: 100%;
  height: auto;
  padding: 0.5rem 0rem;
  // background-color: pink;
  &-content {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    padding: 0.5rem 0rem;
    // background-color: lightblue;
    &-left {
      width: 35%;
      height: auto;
      display: flex;
      flex-direction: column;
      // justify-content: left;
      align-items: flex-start;
      padding: 0.5rem 0rem;
      // background-color: peachpuff;
      & > *:not(:first-child) {
        margin-top: 50px;
      }
      & > button {
        background: none;
        border: none;
        font-family: "SF Mono";
        font-style: normal;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 38px;
        letter-spacing: 0.075em;
        text-decoration-line: underline;
        color: $lightblack;
        cursor: pointer;
        &:hover {
          color: $blue;
          font-size: 2.6rem;
          transition: 0.3s;
        }
      }
    }
    &-right {
      width: 65%;
      height: auto;
      padding: 0.5rem 0rem;
      // background-color: lightcyan;
      & > img {
        width: 100%;
      }
    }
  }
}
@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.image {
  animation-name: slide-in-right;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.contact-container {
  width: 100%;
  height: auto;
  padding: 5rem 0rem;
  padding-top: 10rem;
  background-color: white;
  &-content {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0.5rem 0rem;
    // background-color: peru;
    &-left {
      width: 60%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0.5rem 0rem;
      // background-color: lightblue;
      & > h1 {
        font-family: "Calibre";
        font-weight: 600;
        font-size: 6rem;
        line-height: 77px;
        color: $blue;
      }
      & > p {
        margin-top: 20px;
        font-family: "SF Mono";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #000;
      }
      & > h4 {
        margin-top: 73px;
        font-family: "Calibre";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        color: $blue;
      }
      & > button {
        margin-top: 20px;
        cursor: pointer;
        font-family: "SF Mono";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: underline;
        color: #000000;
        background: none;
        border: none;
      }
    }
    &-right {
      width: 40%;
      height: auto;
      padding: 0.5rem 0rem;
      // background-color: lightgreen;
      &-inputfield {
        display: flex;
        flex-direction: column;
        & > label {
          font-family: "SF Mono";
          font-size: 1.2rem;
          font-weight: 500;
          color: black;
          display: block;
          margin-bottom: 0.4rem;
          margin-left: 0.4rem;
        }
        & > select {
          margin-top: 1rem;
          width: 100%;
          background-color: lightgray;
          border-radius: 5px;
          opacity: 0.4;
          padding: 0.7rem 1.5rem;
          margin-bottom: 1.2rem;
          border: none;
          color: black;

          &:focus {
            outline-color: lightgray;
            background-color: #ffffff;
            box-shadow: 2px 2px 10px rgb(186, 185, 185);
          }
          &:hover {
            outline-color: lightgray;
            background-color: white;
            box-shadow: 2px 2px 10px rgb(186, 185, 185);
          }
          &::placeholder {
            color: lightgray;
          }
        }
        & > textarea {
          margin-top: 1rem;
          width: 100%;
          height: 165px;
          background-color: lightgray;
          border-radius: 5px;
          opacity: 0.4;
          padding: 0.7rem 1.5rem;
          margin-bottom: 1.2rem;
          border: none;
          color: black;

          &:focus {
            outline-color: lightgray;
            background-color: #ffffff;
            box-shadow: 2px 2px 10px rgb(186, 185, 185);
          }
          &:hover {
            outline-color: lightgray;
            background-color: white;
            box-shadow: 2px 2px 10px rgb(186, 185, 185);
          }
          &::placeholder {
            color: lightgray;
          }
        }
        & > button {
          background-color: $blue;
          border: none;
          // height: 50px;
          margin-top: 1rem;
          padding: 1rem;
          color: white;
          font-family: "SF Mono";
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 24px;
          cursor: pointer;
        }
      }
    }
  }
}
// .Sticky{
//   position: fixed;
//   z-index: 9999999999999;
// }
